<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games list</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
  <script type="text/javascript" src="../Models/Games.js"></script>
  <script type="text/javascript" src="../Models/Game.js"></script>
  <script type="text/javascript" src="../Views/GamesView.js"></script>
</head>
<body>
  <ul id="games-list"></ul>  
</body>
</html>