<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game details</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
  <script type="text/javascript" src="../Models/Game.js"></script>
  <script type="text/javascript" src="../Views/GameView.js"></script>
</head>
<body>
  <div id="game-details"></div>
  <input type="text" name="editGame">
  <button id="editGame">Edit game</button>
</body>
</html>